@font-face {
  font-family: "Europa";
  src: url("./fonts/europa-regular-webfont.ttf");
}
@font-face {
  font-family: "EuropaLight";
  src: url("./fonts/europa-light-webfont.ttf");
}
@font-face {
  font-family: "Rift Soft";
  src: url("./fonts/rift-soft-regular.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  background-color: #ffffff;
  scroll-behavior: smooth;
  font-family: "Europa", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
i,
button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
hr {
  border: 0;
  height: 1px;
  background: #e0e1e2;
}
.wrapper {
  margin: 0 auto;
  width: 90%;
}

.swiped {
  transform: translateX(-100px);
}
